[project]
	description = Engineering Software as a Service course - BerkeleyX , edX
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matias Pan (kriox26)
[access "refs/for/refs/*"]
	read = group user/Matias Pan (kriox26)
	push = group user/Matias Pan (kriox26)
	label-Code-Review = -2..+2 group user/Matias Pan (kriox26)
	label-Verified = -1..+1 group user/Matias Pan (kriox26)
	rebase = group user/Matias Pan (kriox26)
	removeReviewer = group user/Matias Pan (kriox26)
	submit = group user/Matias Pan (kriox26)
[access "refs/heads/*"]
	read = group user/Matias Pan (kriox26)
	create = group user/Matias Pan (kriox26)
	push = +force group user/Matias Pan (kriox26)
	pushMerge = group user/Matias Pan (kriox26)
[access "refs/tags/*"]
	push = +force group user/Matias Pan (kriox26)
	pushTag = group user/Matias Pan (kriox26)
	pushSignedTag = group user/Matias Pan (kriox26)
